* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(199, 222, 238);
  justify-content: center;
  min-height: 100vh;
}
img {
  border-radius: 1em;
  width: 280px;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  width: 280px;
}
#title {
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  font-size: 130%;
}
#subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 110%;
  color: gray;
}
.attribution {
  text-align: center;
  margin-top: 20px;
}
