*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7deee;
  min-height: 100vh;
}

body .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 19.5rem;
}

body .container__qr-code {
  border-radius: 1rem;
  width: 17.5rem;
}

body .container__title {
  text-align: center;
  font-weight: bold;
  margin-top: 1.25rem;
  font-size: 1.3rem;
}

body .container__subtitle {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  color: gray;
}
