* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c7deee;
  justify-content: center;
  min-height: 100vh;
}

body .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  width: 17.5rem;
}

body .container__qr-code {
  border-radius: 1rem;
  width: 17.5rem;
}

body .container__title {
  text-align: center;
  font-weight: 900;
  margin-top: 1.25rem;
  font-size: 1.3rem;
}

body .container__subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: gray;
}
